<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PH Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div><strong>PayHere JS Integration Test</strong></div>
    <div><ion-button (click)="startPayment()">Start Payment</ion-button></div>
    <hr>
    <div><ion-button (click)="blankMode()">Open Window in Blank mode</ion-button></div>
    <div><ion-button (click)="selfMode()">Open Window in Self mode</ion-button></div>
    <div><ion-button (click)="systemMode()">Open Window in System mode</ion-button></div>

  </div>
  
</ion-content>
